
*.out
*.log

vis_results*/
log_test/


__pycache__/
.ipynb_checkpoints/
.codex/
.agents/

_sam3/
*.pth
*.pt
*.sh
analyze_update_gate_logs.py
image2video.py
llm_sequence_helper.py
run_on_vot_multi_vllm_nonvt.py
run_on_vot_multi_vllm_vt.py
tracking_wrapper_forS3.py
tracking_wrapper_mot_vllm.py
tracking_wrapper_mot_VT_improved.py
tracking_wrapper_mot_VT_vllm.py
vot_wrapper_vllm_nonvt_.py
vot_wrapper_vllm_vt_.py
VT_IMPLEMENTATION_UPDATE.md
VT.md